@media (max-width:900px) {
  .pasta-info:first-child{
    margin-left: 10px;
  }
  header{
    display:block;
  }
  .logo, header nav{
    display: flex;
    justify-content: center;
  }
  header nav{
    padding-top: 20px;
  }
  header ul{
    padding-left: 0;
  }
  header li{
    display:flex;
    margin-left: 0;
    justify-content: space-between;
    padding-top: 10px;
  }
  .info-in-primo-piano{
    padding:50px 20px;
  }
  .pasta-info{
    margin-left: 10px;
    padding: 10px;
  }
  .info-pagina{
    text-align: left;
    padding-left: 40px;
  }
  .prodotti{
    display: block;
  }
  .box-prodotto{
    margin-top: 20px;
  }
}
