@media (max-width:900px){
  html{
    font-size: 35px;
  }
/****TYPO*******/
p,li{
  font-size: 1.5rem;
}
h1{
  font-size: 4rem;
}
h3{
  font-size: 3rem;
}
h4,td,th{
  font-size: 1.5rem;
}
.linea-h2{
  width:180px;
  height: 5px;
  background-color: orange;
  border-top: none;
}
/*********HEADER***/
  header{
    display:block;
    padding-bottom: 100px;
  }
  .box-logo, header nav{
    display: flex;
    justify-content: center;
  }
  .simbolo-logo-header,
  .simbolo-logo-footer{
    width: 80px;
    height: 80px;
  }
  header nav{
    padding-top: 20px;
  }
  header ul{
    padding-left: 0;
  }
  header li{
    display:block;
    margin-left: 0;
    text-align: center;
    padding-top: 40px;
  }
  header a{
    padding: 40px;
  }
  .menu-attivo{
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 2px solid orange;
  }
/***********************/

/*******FOOTER*******/
  footer li{
    text-align: center;
    display:block;
    padding-top: 40px;
    padding-left: 0;
  }
/*********************/

/**********INDEX.HTML******/
.box-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .box-pasta-info{
    margin-left: 10px;
    padding: 10px;
  }
  .box-pasta-info:first-child{
    margin-left: 10px;
  }
  .pasta-in-primo-piano{
    height: 900px;
    display: block;
  }

/**********PRODOTTI******/
  .prodotti{
    display: block;
  }
  .box-prodotto{
    margin-top: 50px;
  }
  .carosello{
    padding: 30px 0;
  }
  .slide-prodotto{
    display: block;
  }
  .img-responsive-carosello{
    max-width: 100%;
  }
  .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
  }
  .linea-footer{
    margin-top: 30px;
    border-width: 3px;
  }
/********RICETTE*****/
.immagine-in-primo-piano{
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
.box-tabella{
  padding: 200px 50px;
}
.intestazione-tabella{
  padding-top: 0;
}
.ricette{
  display: block;
}
.box-ricetta{
  width: 100%;
  padding: 80px;
  margin-top: 50px;
}
/********CONTATTI***/
.box-input{
  text-align: center;
}
.border-contatti{
  padding: 50px 0;
}
input{
  width: 600px;
}
}
@media (min-width:900px){
  .linea-h2{
    margin-left: 0;
    width: 50px;
    height: 3px;
    background-color: orange;
    border-top: none;
  }
}
