html{
  font-size: 16px;
  font-family: helvetica;
}
/*******TYPO**/
.black{
  color: black;
}
.bold{
  font-weight: bold;
}
.orange{
  color:orange;
}
ul{
  padding-left: 0;
}
p,li{
  font-size: 1rem;
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 3rem;
  padding-bottom: 10px;
}
h3{
  font-size: 2rem;
}
h4,td,th{
  font-size: 1rem;
}
input{
  font-size:1.5rem;
}
iframe{
  font-size: 1.5rem;
}
.box-prodotto a{
  font-size: 1.5rem;
}
.ancora-scopri{
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border-radius: 10%;
  font-size: 1rem;
}
.ancora-scopri:hover{
  background-color: white;
  color: orange;
  border: 2px orange solid;
  text-decoration: none;
}
.ancora-messaggio{
  background-color: black;
  color:white;
  padding: 10px 20px;
  border: 2px black solid;
  width: 200px;
}
.ancora-messaggio:hover{
  background-color: white;
  color:black;
  text-decoration: none;
}
header a:hover,
footer a:hover{
  color: orange;
}
/************INDEX-HTML******************/
/*****HEADER***/
header{
  padding:20px 40px;
}
header ul{
  margin-bottom: 0;
}
header nav{
  text-align: right;
}
.simbolo-logo-header{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  content: '';
  border: 4px solid orange;
}
header li{
  display: inline-block;
  margin-left: 20px;
}
.menu-attivo{
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 2px solid orange;
}
.menu-attivo:hover{
  text-decoration: none;
}
header a{
  text-decoration: none;
  color: black;
}
/*****MAIN**/
.hero-immagine{
  background-image: url(../images/pasta-min.jpg);
  background-size: cover;
  height: 500px;
  position: relative;
}
.hero-immagine-info{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.6));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mouse{
  padding-top: 100px;
  width: 60px;
}
.box-testo{
  padding: 100px;
}

.pasta-info{
  padding: 20px 0;
  }
  @media (min-width:900px){
    .pasta-info{
      padding-top: 50px;
    }
  }


.box-pasta-info p{
  margin-bottom: 50px;
}
.pasta-in-primo-piano{
  height: 50rem;
  display: flex;
  align-items: stretch;
  }
  @media (min-width:900px){
    .pasta-in-primo-piano{
      padding-top: 50px;
    }
  }


.pasta-in-primo-piano_foto{
  height: 100%;
  background-image: url(../images/spaghetti-al-pomodoro-2-min.jpg);
  background-size: cover;
  background-position: center;
}
.pasta-in-primo-piano_info{
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/****FOOTER****/
.footer-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #363b39;
  padding: 100px 50px 50px 50px;
}
.simbolo-logo-footer{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  content: '';
  border: 4px solid white;
}
.linea-footer{
  width: 150px;
  height: 3px;
  background-color: orange;
  border-top: none;
}
footer nav{
  padding: 40px 0;
}
footer ul{
  padding-left: 0;
}
footer li{
  display: inline-block;
  padding-left: 20px;
}
footer a,
footer p{
  color: white;
}
#mail{
  padding: 50px;
}
#freccia{
  content: '';
  border: 2px solid white;
  border-right: transparent;
  border-bottom: transparent;
  width:20px;
  height:20px;
  transform: rotate(45deg);
  margin-bottom: 70px;
}
.copyright{
  background-color: #282b2a;
  text-align: center;
  padding: 50px;
}
/*******************************************/

/************PRODOTTI.HTML******************/
.box-1{
  padding: 50px 0;
}
.prodotti{
  display:flex;
  margin-top: 30px;
}
.box-prodotto{
  margin-right: 20px;
  padding: 20px;
  background-color:#f4debf;
  color: #000;
  transition: 0.1s all ease-in-out;
}
.box-prodotto:hover{
  background-color: orange;
  color: #FFF;
  text-decoration: none;
}

.box-prodotto a{
  color: #fca932;
}
main{
  position: relative;
}
.slide-prodotto {
  width: 100%;
  padding: 0 50px;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
  }
  .paginazione{
    padding-bottom: 30px;
  }
/***************************/
/******RICETTE**************/
.ricette{
  display: flex;
}
.ricette a{
  color: black;
  text-decoration: none;
}
.box-ricetta{
  display: block;
  padding: 20px;
  background-image: url(../images/spaghetti-al-pomodoro-2-min.jpg);
  background-size: cover;
  position: relative;
  margin-right: 20px;
  margin-top: 20px;
}
.box-ricetta-info{
  background:rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.box-ricetta-info:hover{
  opacity: 1;
}
.box-ricetta p{
  font-size: 1rem;
}
.ricetta-info{
  position: absolute;
  width: 100%;
  height: 100%;
  background: red;
}
.immagine-in-primo-piano{
  padding: 40px 0;
}
.valori-nutrizionali th,
.valori-nutrizionali td{
  padding-top: 20px;
}
.valori-nutrizionali th{
  padding-right: 40px;
}
.valori-nutrizionali td{
  padding-right: 20px;
}
.intestazione-tabella{
  padding-top: 0;
}
.box-tabella{
  padding-bottom: 100px;
}
/***********************/
/*******CONTATTI*****/
.border-contatti{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.box-contatti{
  display: flex;
  align-items: stretch;
}
.box-input{
  display: flex;
  flex-direction: column;
  justify-content:center;
}
iframe{
  width: 100%;
}
.input-message{
  padding-bottom: 100px;
  margin-bottom: 50px;
}
.input-animazione{
  display: block;
}
form{
  font-size: 1rem;
}
